# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.sdf
*.asm
Debug/
Release/
org/
bin/
ipch/
EulerCpp/Debug/
EulerCpp/Release/
EulerCpp/org/
EulerCpp/bin/
EulerCpp/ipch/
EulerCpp/x64/

# Executables
*.exe
*.out
*.app
*.opensdf
